[run]
omit =
    bot/schedule.py
    bot/csv_to_markdown.py
    bot/patch_and_render.py
    bot/services/twitter_client/media_uploader.py
    bot/md2queue_fixed.py
    bot/services/media.py
    bot/utils/safe_click.py
    */tests/*
