playwright
requests
PyYAML
python-dotenv
selenium
webdriver-manager~=4.0
undetected-chromedriver
schedule
openai
pyperclip
tweepy
pytest
pytest-cov
pytest-xdist
black
isort
tqdm
backoff
jsonschema
Pillow>=9.0
pytz
opencv-python
pytesseract
twscrape    