fastapi==0.115.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.2
pydantic-settings==2.4.0
python-multipart==0.0.9
meilisearch==0.31.4
PyYAML==6.0.1
redis==5.0.1
